<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Contact</p>
            <p class="fst-italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt corrupti similique earum sequi rerum in aperiam ab aut dolorem illum magni perspiciatis iure modi nesciunt possimus ipsum, non, ex aliquid!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="contact-img-big" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" alt="">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name: <span class="fw-bold">{{singleContact.name}}</span></li>
                <li class="list-group-item list-group-item-danger">Email: <span class="fw-bold">{{singleContact.email}}</span></li>
                <li class="list-group-item list-group-item-danger">Mobile: <span class="fw-bold">{{singleContact.mobile}}</span></li>
                <li class="list-group-item list-group-item-danger">Company: <span class="fw-bold">{{singleContact.company}}</span></li>
                <li class="list-group-item list-group-item-danger">Title: <span class="fw-bold">{{singleContact.title}}</span></li>
                <li class="list-group-item list-group-item-danger">Group name: <span class="fw-bold">{{singleContact.groupId}}</span></li>     
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a routerLink="/" class="btn btn-danger">
                <i class="fa fa-arrow-alt-circle-left"></i> Back</a>
        </div>
    </div>
</div>