/* You can add global styles to this file, and also import other style files */
.contact-img{
    width:150px;
    height:150px;
    border-radius:50%;
}

body{
    background-color: rgb(246, 199, 199);
}

.contact-img-big{
    width:200px;
    height:200px;
    border-radius:50%;

}

