<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt corrupti similique earum sequi rerum in aperiam ab aut dolorem illum magni perspiciatis iure modi nesciunt possimus ipsum, non, ex aliquid!</p>
        </div>
    </div>
</div>

<!-- create contact form -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="">
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="PhotoURL">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="create" >
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1200px-User_icon_2.svg.png" class="contact-img" alt="">
        </div>
    </div>
</div>